@font-face {
    font-family: 'Work Sans';
    src: url('../assets/fonts/WorkSans-Regular.woff2') format('woff2'),
        url('./assets/fonts/WorkSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Eczar';
    src: url('../assets/fonts/Eczar-Regular.woff2') format('woff2'),
        url('../assets/fonts/Eczar-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root{
    --main-text-color:#594F43;
    --main-background-color:#FFEED9;
    --secondary-background-color:#FFDDBF;
    --darker-text-color: #403930;
    --secondary-color:#4E5E80;
    --light-color:#FFF9F2;
}
*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans'
}
body{
    background-color: var(--main-background-color);
    position: relative;
}
.header-section{
    width: 100%;
    height: 100vh;
    padding: 32px 90px;  
    flex-direction: column;
    display: flex;
    justify-content: space-around;  
}
.navigation-navbar{
    position: fixed;
    width: 100%;
    height: 85px;
    top: 0;
    right: 0;
    background-color: var(--main-background-color);
    padding-left: 90px;
    display: flex;
    align-items: center;
    z-index: 35;
}
.navigation-navbar ul{
    list-style: none;
}
.navigation-navbar ul li{
    display: inline-block;
}
.navigation-navbar button{
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    color: var(--main-text-color);
    padding: 16px;
    padding-left: 0px;
    border: none;
    outline: none;
    background-color: transparent;
}
.navigation-navbar button:hover{
    /* text-decoration: underline;
    transition: all 2s ease; */
}
.header-main-part{
    height: 75%;
    margin-top: 90px;
    display: flex;
    justify-content: space-between;
}
.hello-part{
    display: inline-block;
    background-color: var(--secondary-background-color);
    color: var(--darker-text-color);
    font-weight: bold;
    padding: 12px 24px;
    border-radius: 10px;
}
.hello-icon{
    display: inline-block;
    animation-duration: 0.5s;
    animation-iteration-count:5;
    animation-name: hello;
}
.text-part{
    width: 50%;
}
.intro-text{
    width: 595px;
    font-family: 'Eczar', serif;
    color: var(--darker-text-color);
    font-weight: 600;
    font-size: 64px;
    line-height: 120%;
    padding: 24px 0px;
}
.header-buttons{
    margin-top:40px;   
}
.header-buttons a{
    text-decoration: none;
    padding: 24px 66px;
    border: 4px solid var(--secondary-color);
    border-radius: 16px;
    color:var(--secondary-color);
    position: relative;
    /* margin-right: 30px; */
}
.header-buttons a::after{
    content: '>';
    position: absolute;
    display: inline-block;
    color:transparent;
    padding: 0px 10px;
    font-weight: bold;
    margin-left: 16px;
}
.header-buttons a:hover{
    background-color: var(--secondary-color);
    color:var(--light-color);
    transition: all 0.5s ease;
}
.header-buttons a:hover::after{
    background-color:var(--light-color);    
    color:var(--secondary-color);
    border-radius: 16px;
    /* transform: translateX(24px);
    transition: transform 1s ease; */
}
.header-main-part .image-part{
    width: 700px;
    margin: 0 auto;
    position: relative;
}
.girl-image{
    position: absolute;
    width: 100%;
    top:-80px;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
    z-index: 15;
}
.girl-image:hover{
    animation-duration: 0.5s;
    animation-iteration-count:3;
    animation-name: hello;
}
/* .my-image{
    width: 80%;
    object-fit: cover;
    position: absolute;
    top: 11.5%;
    left: 50px;
    z-index: 5;
    -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
.hidden-image{
    width: 0;
    height: 0;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 5;
    -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
.hello-transition{
    animation-duration: 0.5s;
    animation-iteration-count:4;
    animation-name: hello;
} */
@keyframes hello{
    0%{
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(-15deg);
    }

    100%{
        transform: rotate(0deg);
    }
}
/* ##################################################  WORK   ################################################### */
.work-section{
    width: 100%;
    min-height: 100vh;
    background-color: var(--secondary-background-color);
    padding: 90px;
    position: relative;
    /* margin-top: 100px; */
}
.work-header{
    font-family: 'Eczar', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 125%;
}
.work-part{
    margin-top: 100px;
    background-color: var(--light-color);
    /* background: rgba(255, 221, 191, 0.5); */
    border-radius: 24px;
    display: flex;
    /* justify-content: space-between; */

}
.work-big-photo{
    max-width: 50%;
    padding: 90px;
}
.work-big-photo img{
    width: 100%;
}
.work-description{
    padding: 90px;
    width: 50%;

}
.work-name{
    font-family: 'Work Sans';
    color: var(--darker-text-color);
    font-weight: 600;
    font-size: 32px;
    line-height: 150%;
}
.work-text{
    font-family: 'Work Sans';
    width: 404px;
    color:var(--main-text-color);
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    margin: 16px 0px;
}
.work-link{    
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    color: var(--secondary-color);
    text-decoration: none;

}
.work-photo{
    /* width: 50%; */
    display: grid;
    grid-template-columns:220px 220px 220px;
    grid-template-rows: 250px 240px;    
    /* transform: skewY(0deg) translateY(200px); */
    position: relative;
    right: 10px;
    top: -70px; 
    /* background-color: red; */
    /* transition: all 2s ease; */
    /* z-index: 15; */
}
/* .work-photo img:hover{
    transform: scale(1);
    transition: all 2s ease;
} */
/* .work-transition{  
    transform: skewY(-20deg) translateY(0px);
    transition: all 2s ease;
}
.work-transition:hover{
    transform: skewY(0deg) translateY(-20px);
    transition: all 2s ease;
} */
.photo-box img{
    width: 200px;
    height: 350px;
    object-fit: cover;
    position: relative;
}
.photo-box:nth-child(2) img,.photo-box:nth-child(5) img{
    top:-20px;
    left: 0;
}
.photo-box:nth-child(4), .photo-box:nth-child(5),.photo-box:nth-child(6){
    padding-left: 16px;
}
.feedbacks{
    padding: 90px  62px;
    margin: 90px auto;
    text-align: center;
}
.feedbacks>h2{
    font-family: 'Eczar';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    color: var(--darker-text-color);
}
.feedbacks>p{        
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: var(--darker-text-color);
    margin-top: 8px;
}
/* #############################################  about-me ######################################################################## */
.about-me{
    background-color: var(--secondary-background-color);
    padding: 86px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0px;
}
.about-me .text-part {
    width: 460px;
}
.about-me .text-part>h2{
    font-family: 'Eczar';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 125%;
    color: var(--darker-text-color);
}
.about-me .text-part>p{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    margin-top: 8px;
}
.contact-btn button::after{
    content: '>';
    position: absolute;
    display: inline-block;
    color:transparent;
    padding: 0px 10px;
    font-weight: bold;
    margin-left: 16px;
}
.contact-btn button{
    text-decoration: none;
    padding: 24px 66px;
    border: 4px solid var(--secondary-color);
    border-radius: 16px;
    color:var(--secondary-color);
    position: relative;
    font-weight: 600;
    outline:  none;
    margin: 40px 0px;
    background-color: transparent;
}

.contact-btn button:hover{
    background-color: var(--secondary-color);
    color:var(--light-color);
    transition: all 0.5s ease;
}
.contact-btn button:hover::after{
    background-color:var(--light-color);    
    color:var(--secondary-color);
    border-radius: 16px;
    /* transform: translateX(24px);
    transition: transform 1s ease; */
}
.image-part{
    width: 50%;
}


/* #########################################################footer#####################################################################  */
footer{
    padding:64px 120px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
footer .endup{
    width: 896px;
    font-family: 'Eczar';
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 125%;
}
.socials ul{
    list-style: none;
}
.socials ul li{
    display: inline-block;
}
.socials ul li a{
    padding: 12px;
}
.socials ul li img{
    width: 32px;
    height: 32px;
}
.socials ul li a:hover img{
    background-color: var(--secondary-background-color);
}
/* ##############################################modal ############################################################## */
 .modal-section{
     position: fixed;
     width: 100%;
     height: 100vh;
     background-color: rgba(0, 0, 0, 0.5);
     top:0;
     left: 0;
     right: 0;
     bottom: 0;
     z-index: 35;
     display: flex;
     justify-content: center;
     align-items: center;
     display: none;
 }
 .modal-window{
     min-width: 50%;
     min-height: 55%;
     background-color: white;
     border-radius: 16px;
     padding: 32px;
     position: relative;
    transform: translateY(-100vh);
    transition: all 0.5s ease;
 }
 .modal-window h2{
    color: var(--main-text-color);
    text-align: center;
    font-family: 'Eczar';
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 125%;
    padding: 16px 0;
 }

 .modal-window p{
    text-align: center;
    font-family: 'Eczar';
    font-style: normal;
    font-weight: 600;
    font-size: 32px; 
 }
.modal-window a{
    text-decoration: none;
    color: var(--darker-text-color);
  }
.modal-window a:hover{
    color: var(--secondary-color);
}
.form-contact label{
    padding: 16px;
    display: block;
    text-align: center;}
.form-contact input{
    display: block;
    margin: 0 auto;
    outline: none;
    font-size: 24px;
    border-radius: 16px;
    background-color: transparent;
    padding: 16px;
    color: var(--darker-text-color);
    transition: all 0.5s ease;
    border:1px solid var(--secondary-color)
}
.form-contact input:hover{
    background-color: var(--secondary-color);
    color: var(--light-color);
}
.esc{
    position: absolute;
    right: 24px;
    top: 24px;
    font-size: 32px;
    padding: 24px;
    cursor: pointer;
    background-color: transparent;
    border:none;
}
/* #################################################### carusel########################################################### */
.carusel{
    position: relative;
}
.carusel-container{
    margin-top: 96px;
    display: flex;
}
.carusel-container>div{
    width: calc(50% - 40px);
    height: 500px;
    margin: 0px 20px ;
    /* background-color: red; */
}
.carusel-control button{
    background-color: transparent;
    outline: none;
    border:none;
    position: absolute;
    width: 64px;
    height: 64px;
    background: url('../assets/img/arrow-left.png');
    top:calc(50% - 32px);
    cursor: pointer;
}
/* .carusel-control button:hover{
    -webkit-box-shadow: 4px 4px 8px 0px rgba(219, 232, 242, 0.2);
    -moz-box-shadow: 4px 4px 8px 0px rgba(219, 232, 242, 0.2);
    box-shadow: 4px 4px 8px 0px rgba(219, 232, 242, 0.2);
} */
.carusel-container img{
    width: 280px;
    height: 300px;
}
.btn-left{
    left: 12px;
}
.btn-right{
    right: 12px;
    transform: rotate(180deg);
}
.carusel-data{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 2s ease;
    overflow: hidden;
}
.carusel-data div{
    padding: 16px;
    font-size: 32px;
    font-family: "Eczar", serif;
    color: var(--darker-text-color);
}
.height-hidden{
    height: 0;
}
.carusel-data h3{
    margin-top: 32px;
    width: 320px;
    margin: 0 auto;
    line-height: 60px;
    color: var(--darker-text-color);
    font-size: 28px;
}